In [1]:
import pandas as pd

In [14]:
# data = pd.read_pickle('./pp2GoGo_strong/Events/run_01/strong_2000_850_tau_0.01_atlas_2018_13.pcl')
data = pd.read_pickle('./strong_data.pcl')

In [15]:
data

,Luminosity (1/fb),SR,$N_s$,Total,Jet selection,DV selection,mLLP,mLSP,width,tau_ns,Total MC Events,Total xsec (pb)
0,139.0,HighPT,19.9200,"(72.61, 1.0)","(72.5, 0.9986)","(19.92, 0.2743)",850.0,2000.0,6.582000e-14,0.01,10000,0.000522
1,139.0,Trackless,1.5350,"(72.61, 1.0)","(72.61, 1.0)","(1.535, 0.02114)",850.0,2000.0,6.582000e-14,0.01,10000,0.000522
2,139.0,HighPT,10.1400,"(72.54, 1.0)","(70.17, 0.9673)","(10.14, 0.1398)",50.0,2000.0,6.582000e-15,0.10,10000,0.000522
3,139.0,Trackless,0.9755,"(72.54, 1.0)","(72.18, 0.9951)","(0.9755, 0.01345)",50.0,2000.0,6.582000e-15,0.10,10000,0.000522
4,139.0,HighPT,1.0070,"(8.975, 1.0)","(8.842, 0.9852)","(1.007, 0.1122)",200.0,2400.0,6.582000e-16,1.00,10000,0.000065
5,139.0,Trackless,0.1436,"(8.975, 1.0)","(8.882, 0.9896)","(0.1436, 0.016)",200.0,2400.0,6.582000e-16,1.00,10000,0.000065
6,139.0,HighPT,6.5100,"(72.41, 1.0)","(72.33, 0.9989)","(6.51, 0.0899)",1250.0,2000.0,6.582000e-17,10.00,10000,0.000521
7,139.0,Trackless,1.0700,"(72.41, 1.0)","(69.9, 0.9653)","(1.07, 0.01478)",1250.0,2000.0,6.582000e-17,10.00,10000,0.000521

In [17]:
atlasUL = {'HighPT' : {'S95_obs' : 3.8, 'S95_exp' : 3.1},
            'Trackless' : {'S95_obs' : 3.0, 'S95_exp' : 3.4}}

recastDF = data
robs = []
rexp = []
# Set r-value
for irow,row in recastDF.iterrows():
    S95obs = atlasUL[row['SR']]['S95_obs']
    S95exp = atlasUL[row['SR']]['S95_exp']
    robs.append(row['$N_s$']/S95obs)
    rexp.append(row['$N_s$']/S95exp)

recastDF['robs'] = robs
recastDF['rexp'] = rexp

In [19]:
recastDF

,Luminosity (1/fb),SR,$N_s$,Total,Jet selection,DV selection,mLLP,mLSP,width,tau_ns,Total MC Events,Total xsec (pb),robs,rexp
0,139.0,HighPT,19.9200,"(72.61, 1.0)","(72.5, 0.9986)","(19.92, 0.2743)",850.0,2000.0,6.582000e-14,0.01,10000,0.000522,5.242105,6.425806
1,139.0,Trackless,1.5350,"(72.61, 1.0)","(72.61, 1.0)","(1.535, 0.02114)",850.0,2000.0,6.582000e-14,0.01,10000,0.000522,0.511667,0.451471
2,139.0,HighPT,10.1400,"(72.54, 1.0)","(70.17, 0.9673)","(10.14, 0.1398)",50.0,2000.0,6.582000e-15,0.10,10000,0.000522,2.668421,3.270968
3,139.0,Trackless,0.9755,"(72.54, 1.0)","(72.18, 0.9951)","(0.9755, 0.01345)",50.0,2000.0,6.582000e-15,0.10,10000,0.000522,0.325167,0.286912
4,139.0,HighPT,1.0070,"(8.975, 1.0)","(8.842, 0.9852)","(1.007, 0.1122)",200.0,2400.0,6.582000e-16,1.00,10000,0.000065,0.265000,0.324839
5,139.0,Trackless,0.1436,"(8.975, 1.0)","(8.882, 0.9896)","(0.1436, 0.016)",200.0,2400.0,6.582000e-16,1.00,10000,0.000065,0.047867,0.042235
6,139.0,HighPT,6.5100,"(72.41, 1.0)","(72.33, 0.9989)","(6.51, 0.0899)",1250.0,2000.0,6.582000e-17,10.00,10000,0.000521,1.713158,2.100000
7,139.0,Trackless,1.0700,"(72.41, 1.0)","(69.9, 0.9653)","(1.07, 0.01478)",1250.0,2000.0,6.582000e-17,10.00,10000,0.000521,0.356667,0.314706